<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timestamp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.timestamp.Start"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.timestamp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.timestamp.TestServicesActivity"
            android:label="@string/title_activity_test_services" >
            <intent-filter> <!-- Denna tag gör att denna activity blir en alternativ start activity med en egen icon i telefonen -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.timestamp.ConfirmReport"
            android:label="@string/title_activity_confirm_report" >
        </activity>
        <activity
            android:name="com.example.timestamp.SettingsActivity"
            android:label="@string/title_activity_settingss" >
        </activity>
    </application>

</manifest>
